<h1><%= message %> for <%= athlete.name %></h1>
<p>
	Instructions
	<ol>
		<li>Go to www.directathletics.com</li>
		<li>Find the athlete's profile</li>
		<li>Paste the code into the form below</li>
	</ol>
	The code looks like this: 
	<img src="/assets/url_code.png">
</p>

<form class="update-marks-form" action="<%= action %>" method="POST">
	
	<%= auth_token %>
	<input type="hidden" name="_method" value="<%= method %>">
	
	<div class="input">
		<label for="url_code">URL Code: </label>
		<input name="url_code" type="text" value="<%= athlete.url_code %>"> 
	</div>
	
	<input type="submit" value="<%= message %>">
	
</form>

<script>
$(function () {
	$(".update-marks-form").submit(function (event) {
		$(".modal, .loading-modal").toggle();
	});
});
</script>