<h1><%= message %> for <%= athlete.name %></h1>
<p>
	Instructions
	<ol>
		<li>Go to www.directathletics.com</li>
		<li>Find the athlete's profile</li>
		<li>Paste the code into the form below</li>
	</ol>
	The code looks like this: 
	<img src="/assets/url_code.png">
</p>

<form action="<%= action %>" method="POST">
	
	<%= auth_token %>
	<input type="hidden" name="_method" value="<%= method %>">
	
	<label>
		URL Code
		<input name="url_code" type="text" value="<%= athlete.url_code %>"> 
	</label>
	
	<input type="submit" value="<%= message %>">
	
</form>