<h1>Details for <%= @athlete.name %></h1>

<div class="details">
	<% if @athlete.graduating_class %>
		Class of <%= @athlete.graduating_class %>
	<% end %>
	<br>
	<% if @athlete.url %>
		<a href="<%= @athlete.url %>"><%= @athlete.url %></a>
	<% end %>
</div>

<% if @athlete.has_data? %>
	<!-- TEXT VERSION -->
	<!-- <ul>
		<% @marks_by_event.keys.each do |event_name| %>
			<li><%= event_name %></li>
			<% if @marks_by_event[event_name]["Indoor"] %>
				<ul>
					<li>Indoor</li>
					<ul>
						<% @marks_by_event[event_name]["Indoor"].reverse.each do |mark| %>
							<li><%= mark.year %> - <%= format(mark) %></li>
						<% end %>
					</ul>
				</ul>
			<% end %>
			<% if @marks_by_event[event_name]["Outdoor"] %>
				<ul>
					<li>Outdoor</li>
					<ul>
						<% @marks_by_event[event_name]["Outdoor"].reverse.each do |mark| %>
							<li><%= mark.year %> - <%= format(mark) %></li>
						<% end %>
					</ul>
				</ul>
			<% end %>
		<% end %>
	</ul> -->
	<!-- TEXT VERSION -->
	
	<% @marks_by_event.keys.each do |event_name| %>
		<div id="<%= event_name.gsub(" ", "-") %>"></div>
	<% end %>
	
	<% if current_user.type == "Admin" %>
		<a href="<%= edit_athlete_url(@athlete) %>">Update Data</a>
		<br>
	<% else %>
		<form action="<%= athlete_url(@athlete) %>" method="POST">
			<%= auth_token %>
			<input type="hidden" name="_method" value="PUT">
			<input type="submit" value="Update Data">
		</form>
	<% end %>
<% else %>
	<a href="<%= new_athlete_mark_url(@athlete.id) %>">Import Data</a>
	<br>
<% end %>

<a href="<%= athletes_url %>">Back to all athletes...</a>

<script>
	$(function () {
		var events = <%=raw @marks_by_event.keys.map {
			|event_name| event_name.gsub(" ", "-")
		}.to_json %>;
		
		for (var i = 0; i < events.length; i++) {
			// console.log("#" + events[i]);
			$("#" + events[i]).toggleClass("asdfasdf");
		}
		/*
		chart: { type: "line" },
		title: { text: EVENT_NAME },
		xAxis: { categories: YEARS_ARRAY },
		yAxis: { title: { text: UNIT_OF_MEASUREMENT } },
		tooltip: { enabled: false }, //for now
		plotOptions: {
      line: {
        dataLabels: {
            enabled: false
        },
        enableMouseTracking: true
      }
    },
		series: [{
			name: "Indoor",
			data: INDOOR_EVENT_DATA
		}, {
			name: "Outdoor",
			data: OUTDOOR_EVENT_DATA
		}]
		
		*/
	});
</script>