<h1>Details for <%= @athlete.name %></h1>

<div class="details">
	<% if @athlete.graduating_class %>
		Class of <%= @athlete.graduating_class %>
	<% end %>
	<br>
	<% if @athlete.url %>
		<a href="<%= @athlete.url %>"><%= @athlete.url %></a>
	<% end %>
</div>

<% if @athlete.has_data? %>
	<!-- TEXT VERSION -->
	<!-- <ul>
		<% @marks_by_event.keys.each do |event_name| %>
			<li><%= event_name %></li>
			<% if @marks_by_event[event_name]["Indoor"] %>
				<ul>
					<li>Indoor</li>
					<ul>
						<% @marks_by_event[event_name]["Indoor"].reverse.each do |mark| %>
							<li><%= mark.year %> - <%= format(mark) %></li>
						<% end %>
					</ul>
				</ul>
			<% end %>
			<% if @marks_by_event[event_name]["Outdoor"] %>
				<ul>
					<li>Outdoor</li>
					<ul>
						<% @marks_by_event[event_name]["Outdoor"].reverse.each do |mark| %>
							<li><%= mark.year %> - <%= format(mark) %></li>
						<% end %>
					</ul>
				</ul>
			<% end %>
		<% end %>
	</ul> -->
	<!-- TEXT VERSION -->
	
	<% @marks_by_event.keys.each do |event_name| %>
		<div id="<%= event_name.gsub(" ", "-") %>"></div>
	<% end %>
	
	<% if current_user.type == "Admin" %>
		<a href="<%= edit_athlete_url(@athlete) %>">Update Data</a>
		<br>
	<% else %>
		<form action="<%= athlete_url(@athlete) %>" method="POST">
			<%= auth_token %>
			<input type="hidden" name="_method" value="PUT">
			<input type="submit" value="Update Data">
		</form>
	<% end %>
<% else %>
	<a href="<%= new_athlete_mark_url(@athlete.id) %>">Import Data</a>
	<br>
<% end %>

<a href="<%= athletes_url %>">Back to all athletes...</a>

<script>
$(function () {
		var marks_by_event = <%=raw @marks_by_event.to_json %>;

		for (var key in marks_by_event) {
			var seriesData = getRelevantData(marks_by_event[key]);
			// YEARS_ARRAY
			// DISTANCE/TIME/WHATEVER

			$("#" + key.replace(" ", "-")).highcharts({
				chart: { type: "line" },
				title: { text: key },
				tooltip: { 
					enabled: true,
					formatter: function () {
						return '<b>' + this.series.name + '</b><br>' + 
						this.x +': '+ this.y;
					}
				},
				xAxis: { categories: [] },
				yAxis: { title: { text: "Data" } },
				series: seriesData
			});

		}
		/*
		chart: { type: "line" },
		title: { text: EVENT_NAME },
		xAxis: { categories: YEARS_ARRAY },
		yAxis: { title: { text: UNIT_OF_MEASUREMENT } },
		plotOptions: {
      line: {
        dataLabels: {
            enabled: false
        },
        enableMouseTracking: true
      }
    },
		series: [{
			name: "Indoor",
			data: INDOOR_EVENT_DATA
		}, {
			name: "Outdoor",
			data: OUTDOOR_EVENT_DATA
		}]
		
		*/
	});

	/*
	Where obj is in the format: {
		"Indoor": [event, event, event],
		"Outdoor": [event, event, event]
	}
	*/
	var getRelevantData = function (obj) {
		var series = [];
		var seriesObj;

		if (obj["Indoor"]) {
			seriesObj = makeSeriesObj(obj["Indoor"], "Indoor");
			series.push(seriesObj);
		}
		if (obj["Outdoor"]) {
			seriesObj = makeSeriesObj(obj["Outdoor"], "Outdoor");
			series.push(seriesObj);
		}

		return series;
	}

	/*
	Takes an events array and turns it into an appropriate
	series array for data
	*/
	var makeSeriesObj = function (events, name) {
		var seriesObj = {};
		seriesObj.name = name;
		seriesObj.data = [];

		for (var i = 0; i < events.length; i++) {
			seriesObj.data.unshift(events[i].mark);
			// TODO: maybe here start building up an array for years
		}

		return seriesObj;
	}
</script>