<h1>Details for <%= @athlete.name %></h1>

<div class="details">
	<% if @athlete.graduating_class %>
		Class of <%= @athlete.graduating_class %>
	<% end %>
	<br>
	<% if @athlete.url %>
		<a href="<%= @athlete.url %>"><%= @athlete.url %></a>
	<% end %>
</div>

<% if @athlete.has_data? %>
	
	<% @marks_by_event.keys.each do |event_name| %>
		<div id="<%= event_name.gsub(" ", "-") %>"></div>
	<% end %>
	
	<% if current_user.type == "Admin" %>
		<a href="<%= edit_athlete_url(@athlete) %>">Update Data</a>
		<br>
	<% end %>
	
<% else %>

	<a href="<%= new_athlete_mark_url(@athlete.id) %>">Import Data</a>
	<br>
	
<% end %>

<a href="<%= athletes_url %>">Back to all athletes...</a>

<script>
	$(function () {
		var marks_by_event = <%=raw @marks_by_event.to_json %>;
		
		for (var key in marks_by_event) {
			// console.log("#" + events[i]);
			console.log(key);
			console.log(marks_by_event[key]);
		}
		/*
		chart: { type: "line" },
		title: { text: EVENT_NAME },
		xAxis: { categories: YEARS_ARRAY },
		yAxis: { title: { text: UNIT_OF_MEASUREMENT } },
		tooltip: { enabled: false }, //for now
		plotOptions: {
      line: {
        dataLabels: {
            enabled: false
        },
        enableMouseTracking: true
      }
    },
		series: [{
			name: "Indoor",
			data: INDOOR_EVENT_DATA
		}, {
			name: "Outdoor",
			data: OUTDOOR_EVENT_DATA
		}]
		
		*/
	});
</script>