<h1>Details for <%= @athlete.name %></h1>

<p>
	Class of <%= @athlete.graduating_class %>
</p>

<% if @athlete.has_data? %>
	<ul>
		<% @athlete.marks.each do |mark| %>
			<li><%= "#{mark.event_name}, #{mark.season} #{mark.year}: #{mark.mark} " %></li>
		<% end %>
	</ul>
<% else %>
	<a href="<%= new_athlete_mark_url(@athlete.id) %>">Import Data</a>
	<br>
<% end %>

<a href="<%= athletes_url %>">Back to all athletes...</a>