<div class="records <%= table_class %> <%= 'records-hidden' if invisible %>">

	<h3><%= title %></h3>

	<table class="records-table">
		<tr>
			<th>Event</th>
			<th>Mark</th>
			<th>Record Holder</th>
			<th>Date Set</th>
			<th>Notes</th>
		</tr>
		<% get_events_list(season, gender).each do |event_name| %>
			<tr class="table-row">
				<td><%= event_name %></td>
				<td><%= records[event_name][season][gender][0] %></td>
				<td><%= records[event_name][season][gender][1] %></td>
				<td><%= records[event_name][season][gender][2] %></td>
				<td><%= records[event_name][season][gender][3] %></td>
			</tr>
		<% end %>
	</table>

</div>