<div class="records <%= table_class %> <%= 'records-hidden' if invisible %>">

	<h3><%= title %></h3>

	<table class="records-table">
		<tr>
			<th>Event</th>
			<th>Mark</th>
			<th>Record Holder</th>
			<th>Date Set</th>
			<% if !mobile? %>
				<th>Notes</th>
			<% end %>
		</tr>
		<% recs.each do |rec| %>
			<tr class="table-row">
				<td>
					<% if is_admin? %>
						<a href="<%= edit_record_url(rec) %>"><%= rec.event %></a>
					<% else %>
						<%= rec.event %>
					<% end %>
				</td>
				<td><%= rec.mark %></td>
				<td><%= rec.record_holder %></td>
				<td><%= rec.date_set %></td>
				<% if !mobile? %>
					<td><%= rec.notes %></td>
				<% end %>
			</tr>
		<% end %>
	</table>

</div>