<div class="records <%= table_class %> <%= 'records-hidden' if invisible %>">

	<h3><%= title %></h3>

	<table class="records-table">
		<tr>
			<th>Event</th>
			<th>Mark</th>
			<th>Record Holder</th>
			<th>Date Set</th>
			<th>Notes</th>
		</tr>
		<% recs.each do |rec| %>
			<tr class="table-row">
				<td><%= rec.event %></td>
				<td><%= rec.mark %></td>
				<td><%= rec.record_holder %></td>
				<td><%= rec.date_set %></td>
				<td><%= rec.notes %></td>
			</tr>
		<% end %>
	</table>

</div>