<!DOCTYPE html>
<html>
<head>
  <title>OCTF</title>
	<%= favicon_link_tag "favicon.ico" %>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<% if mobile? %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<% end %>
</head>
<body class="<%= mobile? ? 'mobile' : 'desktop' %>">
	
	<% if mobile? %>
		<%= render "navbars/mobile" %>
	<% else %>
		<%= render "navbars/desktop" %>
	<% end %>
	
	<div class="<%= mobile? ? '' : 'container' %>">

		<% if flash[:notice] %>
			<div class="flash-notice"><%= flash[:notice] %></div>
		<% end %>
		<% if flash[:errors] %>
			<div class="flash-error">
				<%= flash[:errors].is_a?(Array) ? flash[:errors].join(", ") : flash[:errors] %>
			</div>
		<% end %>
		<%= yield %>
	
	</div>

	<div class="modal invisible"></div>
	<div class="loading-modal invisible">
		<div class="loading-text">Loading...</div>
	</div>
	
</body>
</html>
