<!DOCTYPE html>
<html>
<head>
  <title>AthleteLookup</title>
  	<%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
	
	<% if current_user %>
		Logged in as: <%= current_user.username.upcase %>
		<form action=<%=session_url%> method="POST">
		    <%= auth_token %>
		    <input type="hidden" name="_method" value="DELETE">
		    <input type="submit" value="Log out!">
		</form>
	<% end %>

	<!-- debugging -->	
	<%= flash[:notice] %>
	<%= flash[:errors] %>
	<%= yield %>
	<!-- <%= debug params %> -->

</body>
</html>
